@import "tailwindcss";
@import "@heroui/styles";

:root {
	--accent: black;
	--accent-foreground: white;
}

.dark {
	--accent: white;
	--accent-foreground: black;
}

.container {
	@apply mx-auto px-4;
}
